<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>HealthSafe_log</title>
    <link rel="stylesheet" style="text/css" href="./stylesheets/auth.css" />
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_775b2c126fe4cf7de96fe0ba186238023'
        });
    </script>
</head>

<body>
    <div class="cont">
        <div class="main-box">

            <div class="log">
                <div class="lang">
                </div>
                <form action="/connexion" method="POST">

                    <div class="tear"></div>

                    <h2>HealthSafe</h2>
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="username" placeholder="Adresse mail" required />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="password" class="pass" name="password" placeholder="Mot de passe" required />

                    <button class="login">Connexion</button>
                </form>
                <form action="/create" method="POST">
                    <button class="sign">Inscription</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>