<!DOCTYPE html>
<html lang="en" dir="ltr" xlmns="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <title>HealthSafe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./../javascripts/jsonlog.js"></script>
    <link rel="stylesheet" style="text/css" href="./stylesheets/auth.css">
  </head>

  <body>
    <div class="cont">
      <div class="main-box">
        <div class="log">
          <form class="">
            <div class="tear"></div>

            <h2>HealthSafe</h2>

            <ul id="infos"></ul>

            <i class="fa fa-check fa-user"></i>
            <input  type="text"
                    class="user"
                    name="username"
                    placeholder="Username"
                    id="username"
                    required />

            <i class="fa fa-check fa-pass"></i>
            <input  type="password"
                    class="pass"
                    name="password"
                    placeholder="Password"
                    id="psswd"
                    required />

            <button   type="button"
                      class="login"
                      id="connexion">
                      Connexion
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
