<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>HealthSafe_log</title>
    <link rel="stylesheet" style="text/css" href="./stylesheets/authCreate.css" />
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_775b2c126fe4cf7de96fe0ba186238023'
        });
    </script>
</head>

<body>
    <div class="droite">
        <div class="main-box">
            <div class="tear"></div>
            <div class="log">
                <div class="lang">
                </div>
                <form action="/authCreate/login" method="POST">
                    <h2>HealthSafe</h2>
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="lastname" placeholder="Nom" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="firstname" placeholder="Prénom" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="age" placeholder="Age" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="phoneNumber" placeholder="Numéro de téléphone" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="address" placeholder="Adresse" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="zipCode" placeholder="Code Postal" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="city" placeholder="Ville" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="country" placeholder="Pays" required />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="text" class="user" name="email" placeholder="Adresse mail" required />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="password" class="pass" name="password" placeholder="Mot de passe" required />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="password" class="pass" name="confirmationPassword" placeholder="Confirmation du mot de passe" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="expertiseDomain" placeholder="Domaine d'expertise" required />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="idNumber" placeholder="Numéro d'identification" required />
                    <button class="login">Inscription</button>
                </form>

            </div>
        </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!--<script src="./javascripts/mail.js"></script>-->
</body>

</html>