<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HealthSafe_acceuil</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js  "></script>
    <script src="./../javascripts/home_action.js"></script>
    <link rel="stylesheet" style="text/css" href="./stylesheets/home.css"/>
</head>
<body>
    <div class="cont">
        <h3>Mr / Mme Medecin</h3>
        <img src="../img/reglage_3.png" alt="Réglage" />
        <div class="Acceuil">
            <form action="">
                <div class="tear"></div>
                <h2>Bienvenue sur HealthSafe</h2>
            </form>
        </div>
          <div style="width: 60%;margin:auto;">
              <div style="width: 100%;display: flex;margin: 100px auto;">
                  <button class="scan" id="scan">Scan</button>
                  <button class="mobile" id="mobile">Accès mobile</button>
              </div>
                  <button class="deconnexion" id="deconnexion">Deconnexion</button>
           </div>
    </div>
</body>
</html>
