<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HealthSafe_acceuil</title>
    <link rel="stylesheet" style="text/css" href="./stylesheet/home.css" />
</head>
<body>
    <div class="cont">
        <h3>Mr / Mme Medecin</h3>
        <img src="../img/reglage_3.png" alt="Réglage" />
        <div class="Acceuil">
            <form action="">
                <div class="tear"></div>
                <h2>Bienvenue sur HealthSafe</h2>
            </form>
        </div>
          <div style="width: 60%;margin:auto;">
              <div style="width: 100%;display: flex;margin: 100px auto;">
                  <button class="scan">Scan</button>
                  <button class="mobile">Accès mobile</button>
              </div>
                  <button class="deconnexion">Deconnexion</button>
           </div>
    </div>
</body>
</html>
