<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>HealthSafe_log</title>
    <link rel="stylesheet" style="text/css" href="./stylesheets/modif.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="droite">
        <div class="main-box">
            <div class="tear"></div>
            <div class="log">
                <div class="lang">
                </div>
                <h2>Informations patient</h2>

                <form action="/modif/sendData" method="POST">
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="firstname" placeholder="Prénom" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="lastname" placeholder="Nom" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="age" placeholder="Age" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="gender" placeholder="Genre" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="height" placeholder="Taille" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="weight" placeholder="Poids" />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="text" class="user" name="emergencyNumber" placeholder="Numéro d'urgence" />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="text" class="user" name="allergies" placeholder="Allergies" />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="text" class="user" name="medicalHistory" placeholder="Historique médical" />
                    <i class="fa fa-check fa-pass"></i>
                    <input type="text" class="user" name="bloodType" placeholder="Groupe sanguin" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="socialNumber" placeholder="Numéro de sécurité sociale" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="treatments" placeholder="Traitements" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="organDonation" placeholder="Donneur d'organes" />
                    <i class="fa fa-check fa-user"></i>
                    <input type="text" class="user" name="doctor" placeholder="Docteur" />

                    <button class="login">Validation</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>