<ion-view title="Authentification" id="page1" style="background-color:#EEC3C3;">
  <ion-content padding="true" class="has-header">
    <h1 id="authentification-heading2" style="color:#000000;text-align:center;">HealthSafe</h1>
    <div>
      <img src="img/aXghJuzsQeyjWAXofqvQ_caduce-hermes.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="authentification-form6" class="list">
      <label class="item item-input" id="authentification-input3">
        <span class="input-label">Identifiant</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="authentification-input4">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="nFCConnect()" id="authentification-button5" class="button button-light button-block">Connexion</a>
  </ion-content>
</ion-view>