<ion-view title="Infos" id="page5" style="background-color:#EEC3C3;">
  <ion-content padding="true" class="has-header">
    <h1 id="infos-heading3" style="color:#000000;text-align:center;">Infos Médicales</h1>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="infos-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Nom - Prénom</p>
    </div>
    <form id="infos-form12" class="list">
      <label class="item item-input" id="infos-textarea5">
        <span class="input-label">Mr. Falsimagne Joan</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="infos-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Groupe Sanguin</p>
    </div>
    <form id="infos-form14" class="list">
      <label class="item item-input" id="infos-textarea6">
        <span class="input-label">B+</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="infos-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Allergies</p>
    </div>
    <form id="infos-form15" class="list">
      <label class="item item-input" id="infos-textarea7">
        <span class="input-label">Pollen</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>