<html>
    <head>
        <meta charset="utf-8" />
        <title>HealthSafe</title>
        <link rel="stylesheet" href="./stylesheets/authCreate.css" />
    </head>

    <body>

        <div class="carousel">

            <div class="carousel__item carousel__item--visible">
                <label>Nom de famille</label>
                <input type="text" name="lastname" required />
                <label>Prénom</label>
                <input type="text" name="firstname" required />
                <label>Age</label>
                <input type="number" name="age" required />
            </div>

            <div class="carousel__item">
                <label>Numéro de téléphone</label>
                <input type="number" name="phoneNumber" required />
                <label>Domaine d'expertise</label>
                <input type="text" name="expertiseDomain" required />
                <label>Numéro d'identification</label>
                <input type="number" name="idNumber" required />
            </div>

            <div class="carousel__item">
                <label>Adresse Postale</label>
                <input type="text" name="address" required />
                <label>Ville</label>
                <input type="text" name="city" required />
                <label>Code postal</label>
                <input type="number" name="zipcode" required />
                <label>Pays</label>
                <input type="text" name="country" required />
            </div>

            <div class="carousel__item">
                <label>Adresse mail</label>
                <input type="text" name="email" required />
                <label>Mot de passe</label>
                <input type="password" name="password" required />
                <label>Confirmation du mot de passe</label>
                <input type="password" name="confirmationPassword" required />
            </div>

            <div class="carousel__actions">
                <button id="carousel__button--prev">Etape précédente</button>
                <button id="carousel__button--next">Etape suivante</button>
            </div>

        </div>

        <script src="./javascripts/carousel.js"></script>
    </body>
</html>