.carousel {
    overflow: hidden;
    max-width: 1000;

}

.carousel .carousel__item,
.carousel .carousel__item--visible {
    display: none;
}

.carousel .carousel__item--visible {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.carousel .carousel__actions {
    display: flex;
    justify-content: space-between;
}

.carousel .carousel__actions button {
    border-radius: 50px;
    /*button à modif plus tard avec l'ancienne config*/
}