<!DOCTYPE html>
<html>
<head>
        <link rel='stylesheet' type="text/css" href='/styleError404.css' />
        <!-- <link rel='stylesheet' type="text/css" href='/home/paradis/WorkSpace/EPITECH/EIP/EIP_PROJECT/API/sources/public/stylesheets/styleError404.css' /> -->
        <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script language="JavaScript" type="text/javascript" async src="/scriptError404.js">
        </script>

</head>
<body>

        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='star'></div>
        <div class='title'>404</div>
        <div class='gravestones'>
          <div class='cross'></div>
          <div class='cross'></div>
          <div class='cross'></div>
        </div>
        <div class='bottompatch'>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
          <div class='patch'></div>
        </div>
        <div class='msg'>
                  D'ont Panic, It's Organic :
                  <br />This page doesn't exist.
        </div>
        <div class="">
                TEST TEST TEST
        </div>
        <div class='crypt'>
          <div class='roof'></div>
          <div class='body'>
            <div class='door'></div>
          </div>
        </div>
        <div class='ghost'></div>
        <div class='moon'></div>

</body>
</html>
