<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>HealthSafe_page_info</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./../JS/home_action.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" style="text:css" href="info.css"/>
</head>
<body>

    <h3> Mr / Mme Medecin</h3>
    <a href="/home">
      <img class ="logo_home" src="../img/home_page_2.png" alt="home" />
    </a>
    <img class ="logo_reglage" src="../img/reglage_3.png" alt="page reglage" />
    <div class="cont" class="card-columns">
        <div class="patient_box" class="card bg-light">
            <h1>Infos patient</h1>
            <div class="info_patient_box">
                <img class="photo_patient" src="../img/avatar.png" alt="photo_patient" />
                <ul class="info_client">
                    <li id="info_name">Nom prénom</li>
                    <li id="info_birth_date">Date de naissance (âge)</li>
                    <li id="info_profession">Profession</li>
                    <li id="info_country-city">Pays / ville</li>
                    <li id="info_height">Taille</li>
                    <li id="info_weight">Poid</li>
                </ul>
                <form action=""> </form>
            </div>
        </div>
        <div class="importante_box" class="card bg-light">
            <h1>Infos importante</h1>
            <div class="info_importante_box">
                <ul class="info_client_importante">
                    <li id="blood_type">Groupe sanguin</li>
                    <li id="allergies">Allergie(s)</li>
                    <li id="surgery">Opération(s)</li>
                    <li id="broken_bones">membre cassé (combien de fois)</li>
                </ul>
                <form action=""> <div class="logo"></div> </form>
            </div>
        </div>
        <div class="derniere_visite_box" class="card bg-light">
            <h1>Infos dernière visite</h1>
            <div class="info_derniere_visite_box">
                <ul class="info_derniere_visite">
                    <li>Visite mensuel du 07/08/2019 (rien à signaler)</li>
                    <li>prescription doliprane 3/j sur 1 semaine</li>
                    <li>1m75, 70kg bonne condition physique</li>
                </ul>
                <form action=""></form>
            </div>
        </div>
    </div>
</body>
</html>
